/uas_project/build/
/uas_project/nbproject/private/
uas_project/nbproject/private/private.properties
uas_project/nbproject/private/private.properties
uas_project/nbproject/private/private.properties
.gitignore
